Node_Red Flow.json
[{"id":"582cfa38.a4c6d4","type":"tab","label":"Smart Agriculture System","disabled":false,"info":""},{"id":"9430623b.143b2","type":"ibmiot in","z":"582cfa38.a4c6d4","authentication":"apiKey","apiKey":"96e64083.5edf7","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"0710","applicationId":"","deviceType":"Mobile","eventType":"","commandType":"Data","format":"json","name":"IBM Cloud Data","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":120,"y":200,"wires":[["1eba1bad.a593c4","f42cc101.f5467","5495f181.74a5b"]]},{"id":"dbf78c9b.baaf7","type":"debug","z":"582cfa38.a4c6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":180,"wires":[]},{"id":"1eba1bad.a593c4","type":"function","z":"582cfa38.a4c6d4","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["dbf78c9b.baaf7","6ba0aa3.c339754"]]},{"id":"f42cc101.f5467","type":"function","z":"582cfa38.a4c6d4","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":300,"wires":[["dbf78c9b.baaf7","e7292127.11812"]]},{"id":"6ba0aa3.c339754","type":"ui_gauge","z":"582cfa38.a4c6d4","name":"","group":"2082f765.f9df18","order":0,"width":"6","height":"5","gtype":"gage","title":"","label":"°C","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":120,"wires":[]},{"id":"e7292127.11812","type":"ui_gauge","z":"582cfa38.a4c6d4","name":"","group":"2068ea6c.4e9616","order":0,"width":"0","height":"0","gtype":"compass","title":"","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":300,"wires":[]},{"id":"5495f181.74a5b","type":"function","z":"582cfa38.a4c6d4","name":"Soil Moisture","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["dbf78c9b.baaf7","f4fe5e4f.e964d"]]},{"id":"8253dabf.dbad68","type":"inject","z":"582cfa38.a4c6d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"","x":110,"y":400,"wires":[["f1010cd5.ef4a"]]},{"id":"abad8c9f.5fc45","type":"function","z":"582cfa38.a4c6d4","name":"OWP Temp","func":"msg.payload=(msg.payload.main.temp) - 273.15\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":380,"wires":[["85d50650.8d0068","28cf9524.5e8faa"]]},{"id":"7b75574d.dd7e98","type":"ibmiot out","z":"582cfa38.a4c6d4","authentication":"apiKey","apiKey":"96e64083.5edf7","outputType":"cmd","deviceId":"0408","deviceType":"Receiver","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM Cloud Receiver","service":"registered","x":400,"y":1120,"wires":[]},{"id":"809762f5.616ec","type":"function","z":"582cfa38.a4c6d4","name":"OWP Pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":460,"wires":[["28cf9524.5e8faa","1d50dea4.c85a01"]]},{"id":"ee758257.3929b","type":"function","z":"582cfa38.a4c6d4","name":"OWP Humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":520,"wires":[["28cf9524.5e8faa","45a54b2a.558114"]]},{"id":"85d50650.8d0068","type":"ui_chart","z":"582cfa38.a4c6d4","name":"","group":"3506c3ba.b4a76c","order":1,"width":"6","height":"5","label":"in °C","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#92e382","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":360,"wires":[[]]},{"id":"28cf9524.5e8faa","type":"debug","z":"582cfa38.a4c6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":420,"wires":[]},{"id":"a3cda826.084648","type":"ui_template","z":"582cfa38.a4c6d4","group":"4f765e1d.ecb64","name":"","order":1,"width":0,"height":0,"format":"<style>\nbody{\n\tbackground-image: url(\"https://i.pinimg.com/originals/ee/3c/15/ee3c156ec4646201c7314fad4f47ce7a.gif\");\n\tbackground-size: cover;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":120,"y":142,"wires":[[]]},{"id":"7c82688f.c73b18","type":"ui_template","z":"582cfa38.a4c6d4","group":"d43a100d.5860e","name":"","order":1,"width":0,"height":0,"format":"<style>\nbody{\n\tbackground-image: url(\"/image/water.gif\");\n\tbackground-size: cover;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":200,"y":1100,"wires":[[]]},{"id":"788df816.8c2988","type":"ui_template","z":"582cfa38.a4c6d4","group":"624bd32.99acb2c","name":"","order":1,"width":0,"height":0,"format":"<style>\nbody{\n\tbackground-image: url(\"/image/Weather.gif\");\n\tbackground-size: cover;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":300,"y":400,"wires":[[]]},{"id":"45a54b2a.558114","type":"ui_gauge","z":"582cfa38.a4c6d4","name":"","group":"624bd32.99acb2c","order":1,"width":"6","height":"5","gtype":"donut","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":540,"wires":[]},{"id":"1d50dea4.c85a01","type":"ui_gauge","z":"582cfa38.a4c6d4","name":"","group":"253de0f9.c0803","order":1,"width":"5","height":"5","gtype":"wave","title":"","label":" hPa","format":"{{value}}","min":0,"max":"1800","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":480,"wires":[]},{"id":"b5c52e4b.01849","type":"ui_ui_control","z":"582cfa38.a4c6d4","name":"Navigator","events":"all","x":300,"y":580,"wires":[[]]},{"id":"6824f50d.06dc0c","type":"ui_button","z":"582cfa38.a4c6d4","name":"","group":"d9eff1a8.85a7b","order":3,"width":0,"height":0,"passthru":false,"label":"Click to Continue","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":130,"y":580,"wires":[["b5c52e4b.01849"]]},{"id":"8f1a7d6a.047f3","type":"ui_template","z":"582cfa38.a4c6d4","group":"d9eff1a8.85a7b","name":"","order":1,"width":"0","height":"0","format":"<style>\nbody{\n\tbackground-image: url(\"https://lh3.googleusercontent.com/proxy/81PuexM_JakkuZOGcZBHVRv55S1bd0n6RAruEAk-qe1cfPKJkvMG8SNrgIkZ34ZTOGiaGCoG72mdEFSjdFpGFsxynCu50wcF-ka4B9M8AKxPNMLW1s-CfTx-OtKnqzsE\");\n\tbackground-size: cover;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":120,"y":517,"wires":[[]]},{"id":"d946d5a.2f4c928","type":"ui_button","z":"582cfa38.a4c6d4","name":"","group":"95c34a23.851b18","order":2,"width":0,"height":0,"passthru":false,"label":"HOME","tooltip":"Click to go Home","color":"","bgcolor":"","icon":"fa-home fa-2x","payload":"0","payloadType":"num","topic":"","x":570,"y":40,"wires":[["b004ce32.eaf19"]]},{"id":"b004ce32.eaf19","type":"ui_ui_control","z":"582cfa38.a4c6d4","name":"From Smart To Home","events":"change","x":780,"y":40,"wires":[[]]},{"id":"d2899cd5.bf9ca","type":"ui_button","z":"582cfa38.a4c6d4","name":"","group":"9c9aebcc.688c68","order":0,"width":"0","height":"0","passthru":false,"label":"Click to Monitor","tooltip":"","color":"","bgcolor":"","icon":"fa-television fa-2x","payload":"2","payloadType":"num","topic":"","x":160,"y":700,"wires":[["7c02e9ca.193158"]]},{"id":"fca0a689.444238","type":"ui_button","z":"582cfa38.a4c6d4","name":"","group":"d84433c5.65291","order":2,"width":0,"height":0,"passthru":false,"label":"Click to See","tooltip":"","color":"","bgcolor":"","icon":"fa-eye fa-2x","payload":"3","payloadType":"num","topic":"","x":150,"y":740,"wires":[["77a64a1c.5e6074"]]},{"id":"3ab0c629.f925ea","type":"ui_button","z":"582cfa38.a4c6d4","name":"","group":"c8c89c9d.0260d","order":2,"width":0,"height":0,"passthru":false,"label":"Tap to show","tooltip":"","color":"","bgcolor":"","icon":"fa-folder-open-o fa-2x","payload":"4","payloadType":"num","topic":"","x":150,"y":780,"wires":[["d19bd2c3.4a9c4"]]},{"id":"7c02e9ca.193158","type":"ui_ui_control","z":"582cfa38.a4c6d4","name":"2","events":"change","x":330,"y":700,"wires":[[]]},{"id":"77a64a1c.5e6074","type":"ui_ui_control","z":"582cfa38.a4c6d4","name":"3","events":"change","x":330,"y":740,"wires":[[]]},{"id":"d19bd2c3.4a9c4","type":"ui_ui_control","z":"582cfa38.a4c6d4","name":"4","events":"change","x":330,"y":780,"wires":[[]]},{"id":"9ad970a7.7a2fd","type":"ui_button","z":"582cfa38.a4c6d4","name":"","group":"95c34a23.851b18","order":1,"width":0,"height":0,"passthru":false,"label":"Navigator","tooltip":"Click to see Navigator","color":"","bgcolor":"","icon":"fa-location-arrow fa-2x","payload":"1","payloadType":"num","topic":"","x":560,"y":80,"wires":[["14dadee7.936bc1"]]},{"id":"69ea01bd.fb365","type":"ui_button","z":"582cfa38.a4c6d4","name":"","group":"febf3f8e.d5638","order":5,"width":"6","height":"1","passthru":false,"label":"Navigator","tooltip":"Click to see Navigator","color":"","bgcolor":"","icon":"fa-location-arrow fa-2x","payload":"1","payloadType":"num","topic":"","x":500,"y":620,"wires":[["68a64d93.fec974"]]},{"id":"d241ba43.1323f8","type":"ui_button","z":"582cfa38.a4c6d4","name":"","group":"64819f45.d1fc4","order":2,"width":0,"height":0,"passthru":false,"label":"Navigator","tooltip":"Click to see Navigator","color":"","bgcolor":"","icon":"fa-location-arrow fa-2x","payload":"1","payloadType":"num","topic":"","x":500,"y":740,"wires":[["c9860181.5bd37"]]},{"id":"14dadee7.936bc1","type":"ui_ui_control","z":"582cfa38.a4c6d4","name":"From Smart to Navigator","events":"all","x":770,"y":80,"wires":[[]]},{"id":"68a64d93.fec974","type":"ui_ui_control","z":"582cfa38.a4c6d4","name":"From API to Navigator","events":"change","x":700,"y":620,"wires":[[]]},{"id":"c9860181.5bd37","type":"ui_ui_control","z":"582cfa38.a4c6d4","name":"From Motor to Navigator","events":"all","x":690,"y":740,"wires":[[]]},{"id":"cf68165.f99f7e8","type":"change","z":"582cfa38.a4c6d4","name":"","rules":[{"t":"set","p":"ui_control.options.minLabelMinFontSize","pt":"msg","to":"16","tot":"num"},{"t":"set","p":"ui_control.options.labelMinFontSize","pt":"msg","to":"18","tot":"num"},{"t":"set","p":"ui_control.options.maxLabelMinFontSize","pt":"msg","to":"16","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":60,"wires":[["6ba0aa3.c339754"]]},{"id":"f65946b5.46dfa8","type":"ui_ui_control","z":"582cfa38.a4c6d4","name":"","events":"all","x":120,"y":60,"wires":[["cf68165.f99f7e8"]]},{"id":"f4fe5e4f.e964d","type":"ui_gauge","z":"582cfa38.a4c6d4","name":"","group":"4f765e1d.ecb64","order":1,"width":"0","height":"0","gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":240,"wires":[]},{"id":"1cb7586c.2d6a48","type":"ui_button","z":"582cfa38.a4c6d4","name":"","group":"febf3f8e.d5638","order":6,"width":"6","height":"1","passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"fa-home fa-2x","payload":"0","payloadType":"num","topic":"","x":490,"y":660,"wires":[["5ad244c6.366b7c"]]},{"id":"bf43d7fc.1e1c28","type":"ui_button","z":"582cfa38.a4c6d4","name":"","group":"64819f45.d1fc4","order":4,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"fa-home fa-2x","payload":"0","payloadType":"num","topic":"","x":510,"y":780,"wires":[["311e9526.a3782a"]]},{"id":"311e9526.a3782a","type":"ui_ui_control","z":"582cfa38.a4c6d4","name":"From Motor to Home","events":"all","x":680,"y":780,"wires":[[]]},{"id":"5ad244c6.366b7c","type":"ui_ui_control","z":"582cfa38.a4c6d4","name":"From API to Home","events":"all","x":690,"y":660,"wires":[[]]},{"id":"2e66e3cc.ab50cc","type":"debug","z":"582cfa38.a4c6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":940,"wires":[]},{"id":"5d15598.1bf9fa8","type":"inject","z":"582cfa38.a4c6d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":920,"wires":[["c2809134.1f20b"]]},{"id":"ffdbfb5.dc73b08","type":"ui_text","z":"582cfa38.a4c6d4","group":"febf3f8e.d5638","order":2,"width":"6","height":"1","name":"","label":"Cloud status:","format":"{{msg.payload}}","layout":"row-center","x":750,"y":900,"wires":[]},{"id":"ea5bf97b.dbd3d8","type":"function","z":"582cfa38.a4c6d4","name":"Sunrise time","func":"var string_lastseen = msg.payload.sunrise\nvar lastseen =19800000+(string_lastseen)*1000;\nmsg.payload = (new Date(lastseen)).toUTCString();\n\nmsg.payload = msg.payload.substring(0, msg.payload.length - 3);\nmsg.payload = msg.payload + \"IST\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":530,"y":980,"wires":[["2e66e3cc.ab50cc","48257dd7.40d614"]]},{"id":"321f602a.9decb","type":"ui_template","z":"582cfa38.a4c6d4","group":"9c9aebcc.688c68","name":"","order":1,"width":0,"height":0,"format":"<style>\nbody{\n\tbackground-image: url(\"https://lh3.googleusercontent.com/proxy/mkia6LG_JNde0v43lmSMBPvT8jFPbCFuqLjZcTeNfmP-JUORApx3O96uhyzaoPdfl-JG4gXX04m_EhlJV_tBl6vOHpcMoqjc0bBnjnGPs_lkUQoWAKUA8OmMQfX0OZ5BqA\");\n\tbackground-size: cover;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":240,"y":660,"wires":[[]]},{"id":"48257dd7.40d614","type":"ui_text","z":"582cfa38.a4c6d4","group":"febf3f8e.d5638","order":3,"width":"6","height":"2","name":"","label":"Sunrise:","format":"{{msg.payload}}","layout":"col-center","x":740,"y":980,"wires":[]},{"id":"e997eda8.afae5","type":"function","z":"582cfa38.a4c6d4","name":"Sunset Time","func":"var string_lastseen = msg.payload.sunset\nvar lastseen =19800000+(string_lastseen)*1000;\nmsg.payload = (new Date(lastseen)).toUTCString();\n\nmsg.payload = msg.payload.substring(0, msg.payload.length - 3);\n\nmsg.payload = msg.payload + \"IST\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1020,"wires":[["252e9b03.17df94","2e66e3cc.ab50cc"]]},{"id":"252e9b03.17df94","type":"ui_text","z":"582cfa38.a4c6d4","group":"febf3f8e.d5638","order":4,"width":"6","height":"2","name":"","label":"Sunset:","format":"{{msg.payload}}","layout":"col-center","x":740,"y":1020,"wires":[]},{"id":"9cd7e8c5.98c998","type":"ui_text","z":"582cfa38.a4c6d4","group":"febf3f8e.d5638","order":1,"width":"6","height":"1","name":"","label":"Location:","format":"{{msg.payload}}","layout":"row-center","x":740,"y":860,"wires":[]},{"id":"2d3cec8b.a9f6a4","type":"function","z":"582cfa38.a4c6d4","name":"Location","func":"msg.payload=msg.payload.location\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":860,"wires":[["2e66e3cc.ab50cc","9cd7e8c5.98c998"]]},{"id":"c2809134.1f20b","type":"openweathermap","z":"582cfa38.a4c6d4","name":"","wtype":"current","lon":"80.28","lat":"13.09","city":"","country":"","language":"en","x":310,"y":920,"wires":[["e997eda8.afae5","2d3cec8b.a9f6a4","ea5bf97b.dbd3d8","4864b648.f980a8"]]},{"id":"f1010cd5.ef4a","type":"http request","z":"582cfa38.a4c6d4","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Chennai,%20IN&appid=589acfe13984f6c2382f561353d35d83","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":440,"wires":[["809762f5.616ec","abad8c9f.5fc45","ee758257.3929b","28cf9524.5e8faa"]]},{"id":"d9ad211.25a60e","type":"ui_template","z":"582cfa38.a4c6d4","group":"9c9aebcc.688c68","name":"center align","order":3,"width":0,"height":0,"format":"<style>\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    text-align: center;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":290,"y":540,"wires":[[]]},{"id":"555edda7.987944","type":"function","z":"582cfa38.a4c6d4","name":"Starter","func":"if(msg.payload.command==\"motor_on\")\n    msg.payload=\"Starting the Motor...\"\nelse\n    msg.payload=\"Motor is shutting Down...\"\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1180,"wires":[["e0912afd.908188","590d0b23.68cf24"]]},{"id":"ef3571c9.2a02c","type":"function","z":"582cfa38.a4c6d4","name":"Status","func":"if(msg.payload==\"Starting the Motor...\")\n    msg.payload=\"Motor is Now Running...\"\nelse\n    msg.payload=\"Motor Has Stopped Running..!\"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1180,"wires":[["590d0b23.68cf24"]]},{"id":"e0912afd.908188","type":"delay","z":"582cfa38.a4c6d4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":1180,"wires":[["ef3571c9.2a02c"]]},{"id":"590d0b23.68cf24","type":"ui_toast","z":"582cfa38.a4c6d4","position":"top right","displayTime":"4","highlight":"green","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":720,"y":1240,"wires":[]},{"id":"a2cbd4e1.e1ea48","type":"ui_text","z":"582cfa38.a4c6d4","group":"c6896a73.be4c48","order":4,"width":0,"height":0,"name":"","label":"Motor Lastly turned on at:","format":"{{msg.mytimes}}","layout":"row-center","x":670,"y":1300,"wires":[]},{"id":"b8fe1410.c86698","type":"simpletime","z":"582cfa38.a4c6d4","name":"","x":430,"y":1300,"wires":[["a2cbd4e1.e1ea48"]]},{"id":"bc9171b5.3348b","type":"function","z":"582cfa38.a4c6d4","name":"Control input","func":"if(msg.payload.command==\"motor_on\")\n    msg.payload=\"motor_on\"\nelse\n    msg.payload=NULL\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1300,"wires":[["b8fe1410.c86698"]]},{"id":"a50bcc53.552df","type":"ui_switch","z":"582cfa38.a4c6d4","name":"","label":"","tooltip":"Click to ON/OFF Motor","group":"d43a100d.5860e","order":2,"width":"3","height":"2","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"{\"command\": \"motor_on\"}","onvalueType":"json","onicon":"fa-power-off fa-5x","oncolor":"green","offvalue":"{\"command\": \"motor_off\"}","offvalueType":"json","officon":"fa-power-off fa-5x","offcolor":"red","x":75,"y":1120,"wires":[["7b75574d.dd7e98","555edda7.987944","bc9171b5.3348b","aae7f981.48bf48"]],"l":false},{"id":"2fb99152.20d44e","type":"function","z":"582cfa38.a4c6d4","name":"motor","func":"if(msg.payload.command==\"motor_off\")\n    msg.payload=\"Motor is currently Switched Off\";\nelse\n    msg.payload=\"Motor is currently Running...\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1360,"wires":[["609a2141.0e6dd"]]},{"id":"609a2141.0e6dd","type":"ui_text","z":"582cfa38.a4c6d4","group":"c6896a73.be4c48","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":610,"y":1360,"wires":[]},{"id":"aae7f981.48bf48","type":"delay","z":"582cfa38.a4c6d4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":1360,"wires":[["2fb99152.20d44e"]]},{"id":"9985721.7b11c9","type":"ui_button","z":"582cfa38.a4c6d4","name":"","group":"3506c3ba.b4a76c","order":1,"width":0,"height":0,"passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"fa-wrench fa-2x","payload":"1","payloadType":"num","topic":"","x":100,"y":440,"wires":[["f1010cd5.ef4a","c2809134.1f20b"]]},{"id":"4864b648.f980a8","type":"function","z":"582cfa38.a4c6d4","name":"Cloud Status","func":"function toTitleCase(str) {\n    return str.replace(/\\w\\S*/g, function(txt){\n        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();\n    });\n}\nvar string= msg.payload.detail\nmsg.payload=toTitleCase(string)\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":530,"y":900,"wires":[["2e66e3cc.ab50cc","ffdbfb5.dc73b08"]]},{"id":"96e64083.5edf7","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"8ymz8u.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"2082f765.f9df18","type":"ui_group","z":"","name":"Temperature","tab":"6f4674c0.0e011c","order":3,"disp":true,"width":"6","collapse":false},{"id":"2068ea6c.4e9616","type":"ui_group","z":"","name":"Humidity","tab":"6f4674c0.0e011c","order":1,"disp":true,"width":"6","collapse":false},{"id":"3506c3ba.b4a76c","type":"ui_group","z":"","name":"Temperature","tab":"4f2a7e37.6eb9d","order":2,"disp":true,"width":"6","collapse":false},{"id":"4f765e1d.ecb64","type":"ui_group","z":"","name":"Soil Moisture","tab":"6f4674c0.0e011c","order":2,"disp":true,"width":"6","collapse":false},{"id":"d43a100d.5860e","type":"ui_group","z":"","name":"Motor Status","tab":"d78c2267.eb865","order":1,"disp":true,"width":"3","collapse":false},{"id":"624bd32.99acb2c","type":"ui_group","z":"","name":"Humidity","tab":"4f2a7e37.6eb9d","order":1,"disp":true,"width":"6","collapse":false},{"id":"253de0f9.c0803","type":"ui_group","z":"","name":"Pressure","tab":"4f2a7e37.6eb9d","order":3,"disp":true,"width":"5","collapse":false},{"id":"d9eff1a8.85a7b","type":"ui_group","z":"","name":"Welcome to our Smart Agriculture Web Application","tab":"7f40243b.87022c","order":4,"disp":true,"width":"9","collapse":false},{"id":"95c34a23.851b18","type":"ui_group","z":"","name":"Home","tab":"6f4674c0.0e011c","order":4,"disp":false,"width":"6","collapse":false},{"id":"9c9aebcc.688c68","type":"ui_group","z":"","name":"Feild Info","tab":"cbf719b4.1af098","order":1,"disp":true,"width":"6","collapse":false},{"id":"d84433c5.65291","type":"ui_group","z":"","name":"Weather Details","tab":"cbf719b4.1af098","order":2,"disp":true,"width":"6","collapse":false},{"id":"c8c89c9d.0260d","type":"ui_group","z":"","name":"Motor Status","tab":"cbf719b4.1af098","order":3,"disp":true,"width":"6","collapse":false},{"id":"febf3f8e.d5638","type":"ui_group","z":"","name":"Cloud Status","tab":"4f2a7e37.6eb9d","order":4,"disp":false,"width":"6","collapse":false},{"id":"64819f45.d1fc4","type":"ui_group","z":"","name":"Navi","tab":"d78c2267.eb865","order":3,"disp":false,"width":"6","collapse":false},{"id":"c6896a73.be4c48","type":"ui_group","z":"","name":"Time Details","tab":"d78c2267.eb865","order":2,"disp":true,"width":"6","collapse":false},{"id":"6f4674c0.0e011c","type":"ui_tab","z":"","name":"Field Info","icon":"fa-area-chart fa-2x","order":3,"disabled":false,"hidden":false},{"id":"4f2a7e37.6eb9d","type":"ui_tab","z":"","name":"Weather Details","icon":"fa-thermometer-half fa-2x","order":4,"disabled":false,"hidden":false},{"id":"d78c2267.eb865","type":"ui_tab","z":"","name":"Motor Status","icon":"fa-cog fa-2x","order":5,"disabled":false,"hidden":false},{"id":"7f40243b.87022c","type":"ui_tab","z":"","name":"HOME","icon":"fa-home fa-2x","order":1,"disabled":false,"hidden":false},{"id":"cbf719b4.1af098","type":"ui_tab","z":"","name":"Navigator","icon":"fa-location-arrow fa-2x","order":2,"disabled":false,"hidden":false}]